.heading
{
    font-size: 23px;
    color: slateblue;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 20px purple;
}

.heading_div
{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: tomato;
    box-shadow: 10px 10px 20px yellow;
}

.heading_div2
{
    font-size: 18px;
}

.result_para_tag
{
    box-shadow: 10px 10px 20px hotpink;
    font-size: 20px;
}

.copy_right_footer
{
    position: fixed;
    color: khaki;
    bottom: 0px;
    width: 100%;
    background: teal;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px royalblue;
    margin-top: 150px;
}